.version-list-head {
	margin-bottom: 16px;
}

.version-list-body {
	.ant-table-pagination-right {
		float: none;
		text-align: center;
	}
}
.version-modal {
	.version-inner {
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
}
